{
  "extends": "stylelint-config-standard",
  "overrides": [
    {
      "files": ["**/*.{js,jsx,ts,tsx}"],
      "customSyntax": "@stylelint/postcss-css-in-js",
      "rules": {
        "function-name-case": null,
        "function-no-unknown": null
      }
    }
  ],
  "rules": {
    "string-quotes": "single",
    "alpha-value-notation": "number",
    "color-function-notation": "legacy"
  }
}
